/* Gruvbox colours */
:root {
    --dark: #282828;
    --light: #ebdbb2;
    --extra-light: #f9f5d7;
    --red: #cc241d;
    --green: #98971a;
    --yellow: #d79921;
    --blue: #458588;
    --purple: #b16286;
    --aqua: #689d6a;
    --gray: #a89984;
}

/* Code */
code > span.kw { color: var(--green);  font-weight: bold;   font-style: normal; } /* Keyword */
code > span.dt { color: var(--yellow); font-weight: normal; font-style: normal; } /* DataType */
code > span.dv { color: var(--aqua);   font-weight: normal; font-style: normal; } /* DecVal */
code > span.bn { color: var(--aqua);   font-weight: normal; font-style: normal; } /* BaseN */
code > span.fl { color: var(--aqua);   font-weight: normal; font-style: normal; } /* Float */
code > span.ch { color: var(--aqua);   font-weight: normal; font-style: normal; } /* Char */
code > span.st { color: var(--aqua);   font-weight: normal; font-style: normal; } /* String */
code > span.co { color: var(--gray);   font-weight: normal; font-style: italic; } /* Comment */
code > span.ot { color: var(--blue);   font-weight: normal; font-style: normal; } /* Other */
code > span.al { color: var(--red);    font-weight: bold;   font-style: normal; } /* Alert */
code > span.fu { color: var(--blue);   font-weight: normal; font-style: normal; } /* Function */
code > span.er { color: var(--red);    font-weight: bold;   font-style: normal; } /* Error */
code > span.wa { color: var(--red);    font-weight: bold;   font-style: italic; } /* Warning */
code > span.cn { color: var(--aqua);   font-weight: normal; font-style: normal; } /* Constant */
code > span.sc { color: var(--red);    font-weight: normal; font-style: normal; } /* SpecialChar */
code > span.vs { color: var(--gray);   font-weight: normal; font-style: normal; } /* VerbatimString */
code > span.ss { color: var(--red);    font-weight: normal; font-style: normal; } /* SpecialString */
code > span.im { color: var(--gray);   font-weight: normal; font-style: normal; } /* Import */
code > span.va { color: var(--blue);   font-weight: normal; font-style: normal; } /* Variable */
code > span.cf { color: var(--green);  font-weight: bold;   font-style: normal; } /* ControlFlow */
code > span.op { color: var(--green);  font-weight: bold;   font-style: normal; } /* Operator */
code > span.bu { color: var(--gray);   font-weight: normal; font-style: normal; } /* BuiltIn */
code > span.ex { color: var(--gray);   font-weight: normal; font-style: normal; } /* Extension */
code > span.pp { color: var(--red);    font-weight: normal; font-style: normal; } /* Preprocessor */
code > span.at { color: var(--gray);   font-weight: normal; font-style: normal; } /* Attribute */
code > span.do { color: var(--gray);   font-weight: normal; font-style: italic; } /* Documentation */
code > span.an { color: var(--gray);   font-weight: bold;   font-style: italic; } /* Annotation */
code > span.cv { color: var(--gray);   font-weight: bold;   font-style: italic; } /* CommentVar */
code > span.in { color: var(--gray);   font-weight: bold;   font-style: italic; } /* Information */

/* Org-mode */
code > span.org-builtin           { color: var(--gray);   font-weight: normal; font-style: normal; }
code > span.org-comment           { color: var(--gray);   font-weight: normal; font-style: italic; }
code > span.org-comment-delimiter { color: var(--gray);   font-weight: normal; font-style: italic; }
code > span.org-constant          { color: var(--aqua);   font-weight: normal; font-style: normal; }
code > span.org-doc               { color: var(--gray);   font-weight: normal; font-style: italic; }
code > span.org-function-name     { color: var(--blue);   font-weight: normal; font-style: normal; }
code > span.org-keyword           { color: var(--green);  font-weight: bold;   font-style: normal; }
code > span.org-preprocessor      { color: var(--red);    font-weight: normal; font-style: normal; }
code > span.org-string            { color: var(--aque);   font-weight: normal; font-style: normal; }
code > span.org-type              { color: var(--yellow); font-weight: normal; font-style: normal; }
code > span.org-variable-name     { color: var(--blue);   font-weight: normal; font-style: normal; }

/* Clojure */
code > span.org-clojure-keyword   { color: var(--green); font-weight: bold;   font-style: normal; }
