/*
For annoying reasons browsers like to add non-functional gray boxes
underneath code blocks and such, even if there is nothing to scroll.
This is the brute force approach of just hiding all scrollbars on the
page.
*/
*::-webkit-scrollbar {
    /* Safari & Chrome */
    display: none;
}

* {
    /* MS browsers */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
}

/*
This below keeps the regular scrollbar for scrolling the page, if
present, because that one makes sense to be there.
*/

html::-webkit-scrollbar {
    display: inherit;
}

html {
    -ms-overflow-style: inherit;
    scrollbar-width: inherit;
}
