/*
While org-mode supports adding HTML attributes to tables inline,
Hakyll doesn't pick those up. This means tweaks to the table style
have to happen here, in CSS. Which is just as well, because these
modifications here only make sense in the context of tufte CSS, so
adding them to the source muddles concerns.
*/

table {
    border-collapse: collapse;
    text-align: center;
    -webkit-border-vertical-spacing: 0px;
    -webkit-border-horizontal-spacing: 0px;
}

th {
    border-bottom: 1px solid;
}

th:nth-child(1) {
    text-align: left;
    border-right: 1px solid;
}

td:nth-child(1) {
    text-align: left;
    font-weight: bold;
    border-right: 1px solid;
}
