/* Imports */
@import url("reset.css");
@import url("pygment.css");
@import url("typogrify.css");

/***** Global *****/
/* Body */
body {
    background: #272d36;
    color: #afbad2;
    font-size: 87.5%; /* Base font size: 14px */
    font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.429;
    margin: 0;
    padding: 0;
    text-align: left;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: .8em;
    font-family: sans;
    color: #2f7b9d;
}

footer.post-info {
    color: #424b6c;
    font-size: .9em;
}

footer.post-info span.date {
    color: #afbad2;
}

h3, h4, h5, h6 { margin-top: 20px; }

/* custom fixes */
img {
    max-width: 100%;
    box-shadow: 0 0 5px #000;
}

.codehilite {
    background-color: inherit !important;
}

code {
    background-color: inherit !important;
    border: 1px #424b6c solid;
    padding: 2px;
}

pre span {
    border: none !important;
}

/* Anchors */
a {outline: 0;}
a img {border: 0px; text-decoration: none;}
a:link, a:visited {
    color: #43a172 !important;;
    padding: 0 1px;
    text-decoration: none;
}
a:hover, a:active {
    /* background-color: #CF6A4C; */
    color: #cc593b !important;
    text-decoration: none;
    text-shadow: 1px 1px 3px #000000 !important;;
}

h1 a:hover {
    background-color: inherit
}

/* Paragraphs */
div.line-block,
p { margin-top: 1em;
    text-align: justify;
    margin-bottom: 1em;}

strong, b {font-weight: bold;}
em, i {font-style: italic;}

/* Lists */
ul {
    list-style: outside circle;
    margin: 0em 0 0 1.5em;
}

ol {
    list-style: none;
    padding-left: 20px;
}

li { margin-top: 0.5em;}

dl {margin: 0 0 1.5em 0;}
dt {font-weight: bold;}
dd {margin-left: 1.5em;}

pre {
    border: 1px #424b6c solid;
    margin: 10px;
    overflow: auto;
    padding: 10px;
}

/* Quotes */
blockquote {
    margin: 20px;
    font-style: italic;
}
cite {}

q {}

div.note {
   float: right;
   margin: 5px;
   font-size: 85%;
   max-width: 300px;
}

/* Tables */
table {margin: .5em auto 1.5em auto; width: 98%;}

    /* Thead */
    thead th {padding: .5em .4em; text-align: left;}
    thead td {}

    /* Tbody */
    tbody td {padding: .5em .4em;}
    tbody th {}

    tbody .alt td {}
    tbody .alt th {}

    /* Tfoot */
    tfoot th {}
    tfoot td {}

/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
    display: block;
}

/***** Layout *****/
.body {clear: both; margin: 0 auto; width: 900px;}
img.right, figure.right {float: right; margin: 0 0 2em 2em;}
img.left, figure.left {float: left; margin: 0 2em 2em 0;}

/*
    Header
*****************/
#banner {
    color: #424b6c;
    margin: 0 auto;
    width: 100%;
}

/* Main Nav */
#banner nav {
    border-bottom: 1px #424b6c solid;
    font-size: 1.143em;
    height: 40px;
    line-height: 30px;
    padding: 0;
    text-align: center;
    width: 100%;
}

#banner nav a:link, #banner nav a:visited {
    display: inline-block;
    height: 30px;
    padding: 5px 1.5em;
    text-decoration: none;
}

/*
    Featured
*****************/
#featured {
    margin-top: 15px;
    overflow: hidden;
    width: 760px;
}

#featured figure {
    border: 2px solid #E6CFA1;
    float: right;
    margin: 0.786em 2em 0 5em;
    width: 248px;
}
#featured figure img {display: block; float: right;}

#featured h2 {color: #; font-size: 1.714em; margin-bottom: 0.333em;}
#featured h3 {font-size: 1.429em; margin-bottom: .5em;}

#featured h3 a:link, #featured h3 a:visited {color: #; text-decoration: none;}
#featured h3 a:hover, #featured h3 a:active {color: #CC7765;}

/*
    Body
*****************/
#content {
    margin-bottom: 2em;
    margin-top: 15px;
    overflow: hidden;
    width: 760px;
}

