.hll {
background-color:#eee;
}
.c {
color:#424B6C;
}
.err {
}
.k {
color:#43A172;
font-weight:bold;
}
.o {
color:#43A172;
}
.cm {
color:#424B6C;
}
.cp {
color:#424B6C;
}
.c1 {
color:#424B6C;
}
.cs {
background-color:#FFF0F0;
color:#63A8C7;
}
.gd {
color:#CC593B
}
.ge {
font-style:italic;
}
.gr {
color:#CC593B
}
.gh {
color:#424B6C;
font-weight:bold;
}
.gi {
color:#43A172;
}
.go {
color:#424B6C;
}
.gp {
color:#CC593B
font-weight:bold;
}
.gs {
font-weight:bold;
}
.gu {
color:#424B6C;
font-weight:bold;
}
.gt {
color:#2F7B9D;
}
.kc {
color:#43A172;
font-weight:bold;
}
.kd {
color:#43A172;
font-weight:bold;
}
.kn {
color:#43A172;
font-weight:bold;
}
.kp {
color:#43A172;
}
.kr {
color:#CC593B;
font-weight:bold;
}
.kt {
color:#63A8C7;
}
.m {
color:#43A172;
}
.s {
color:#63A8C7;
}
.na {
color:#63A8C7;
}
.nb {
color:#43A172;
}
.nc {
color:#63A8C7;
font-weight:bold;
}
.no {
color:#2F7B9D;
}
.nd {
color:#424B6C;
font-weight:bold;
}
.ni {
color:#CC593B
font-weight:bold;
}
.ne {
color:#43A172;
}
.nf {
color:#CC593B;
}
.nl {
color:#63A8C7;
font-weight:bold;
}
.nn {
color:#63A8C7;
font-weight:bold;
}
.nt {
color:#63A8C7;
font-weight:bold;
}
.nv {
color:#2F7B9D;
}
.ow {
color:#43A172;
font-weight:bold;
}
.w {
color:#424B6C;
}
.mf {
color:#43A172;
}
.mh {
color:#43A172;
}
.mi {
color:#43A172;
}
.mo {
color:#43A172;
}
.sb {
color:#63A8C7;
}
.sc {
color:#63A8C7;
}
.sd {
color:#63A8C7;
font-style:italic;
}
.s2 {
color:#63A8C7;
}
.se {
color:#63A8C7;
font-weight:bold;
}
.sh {
color:#63A8C7;
}
.si {
color:#2F7B9D;
font-style:italic;
}
.sx {
color:#CC593B
}
.sr {
color:#63A8C7;
}
.s1 {
color:#63A8C7;
}
.ss {
color:#43A172;
}
.bp {
color:#43A172;
}
.vc {
color:#2F7B9D;
}
.vg {
color:#2F7B9D;
}
.vi {
color:#2F7B9D;
}
.il {
color:#43A172;
}
