pre {
    font-family: "PragmataPro Liga", "Jetbrains Mono", "Fira Code", "Source Code Pro", "Menlo", "Courier New", monospace;
    padding: 10px;
    font-size: 0.9rem;
    overflow-x: auto;
    display: block;
    max-width: 100%;
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    padding-inline: calc(max(10px, (100% - var(--mobile-cutoff)) / 2));
}

code {
    background-color: #fdf6e3;
    color: #657b83;
    padding: 2px;
    border-radius: 2px;
    border: 1px solid #d1d1d1;
}