/* Gruvbox colours */
:root {
    --dark: #282828;
    --light: #fffdf8;
    --extra-light: #fffff5;
    --red: #cc241d;
    --green: #98971a;
    --yellow: #d79921;
    --blue: #458588;
    --purple: #b16286;
    --aqua: #689d6a;
    --orange: #d65d0e;
    --gray: #a89984;
}