body {
    margin: 0;
    max-width: 100%;
    padding: 0;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--extra-light);
    color: var(--dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

div#content>*:not(pre),
div#heading {
    margin-inline: auto;
    max-width: calc(min(100% - 20px, var(--mobile-cutoff)));
}

div.info {
    color: var(--gray);
}