/*
This fixes the line height for various elements that are taller than
the regular line height and thus introduce inconsistent line spacing.
*/

/* Super- and subscripts */
/* Courtesy of https://css-tricks.com/snippets/css/prevent-superscripts-and-subscripts-from-affecting-line-height/ */
sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

sub {
  top: 0.4em;
}

