/*
 * Don't use et-book-roman-old style for literally just sidenotes.
 * It's 44kB.
 */

.numeral {
    font-family: et-book-roman;
    font-style: italic;
}

.sidenote-number:after,
.sidenote:before {
    font-family: et-book-roman;
    font-style: italic;
    position: relative;
    vertical-align: baseline;
}
