:root {
    --mobile-cutoff: 768px;
    --min-margin: 15px;
    --solarized-base03: #002b36;
    --solarized-base02: #073642;
    --solarized-base01: #586e75;
    --solarized-base00: #657b83;
    --solarized-base0: #839496;
    --solarized-base1: #93a1a1;
    --solarized-base2: #eee8d5;
    --solarized-base3: #fdf6e3;
    --solarized-yellow: #b58900;
    --solarized-orange: #cb4b16;
    --solarized-red: #dc322f;
    --solarized-magenta: #d33682;
    --solarized-violet: #6c71c4;
    --solarized-blue: #268bd2;
    --solarized-cyan: #2aa198;
    --solarized-green: #859900;
}

@media (prefers-color-scheme: light) {
    :root {
        --background: #fffcf9;
        --foreground: #282828;
        --highlight: #cc241d;
        --lowlight: #a89984;
        --code-background: #fdf6e3;
        --code-foreground: #657b83;
        --code-border: #d1d1d1;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: var(--solarized-base02);
        --foreground: var(--solarized-base2);
        --highlight: var(--solarized-orange);
        --lowlight: var(--solarized-base01);
        --code-background: var(--solarized-base03);
        --code-foreground: var(--solarized-base0);
        --code-border: var(--lowlight);
    }
}

body {
    margin: 0;
    max-width: 100%;
    padding: 0;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: var(--background);
    color: var(--foreground);
}

a:link,
a:visited {
    text-decoration: underline;
    text-decoration-style: dotted;
    background: none;
    text-shadow: none;
    color: inherit;
}

a:hover {
    color: var(--highlight);
}

:is(h1, h2, h3, h4, h5, h6) > a {
    text-decoration: none !important;
}

@media screen and (min-width: calc(768px + 50px)) {
  h3 > a:hover::before {
      content: "❡";
      position: absolute;
      margin-left: -20px;
  }
}

div#header {
    max-width: calc(min(100% - 2 * var(--min-margin), var(--mobile-cutoff)));
    margin-inline: auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

div#content > *:not(pre),
div#heading {
    margin-inline: auto;
    max-width: calc(min(100% - 2 * var(--min-margin), var(--mobile-cutoff)));
}

div.figure > * {
    max-width: 100%;
}

div#heading > h1 {
    font-size: 36px;
}

div.info {
    color: var(--lowlight);
}

span.info {
    color: var(--lowlight);
}

p {
    line-height: 1.7;
}

blockquote {
    font-style: italic;
    max-width: calc(min(100% - 2 * var(--min-margin), var(--mobile-cutoff)) - 13px) !important;
    padding-left: 10px;
    border-left: 3px var(--lowlight) solid;
}

hr {
    color: var(--background);
    border-color: var(--lowlight);
    max-width: calc(min(100% - 2 * var(--min-margin), var(--mobile-cutoff)) - 180px) !important;
}

ol,
ul {
    padding-left: 40px;
    max-width: calc(min(100% - 2 * var(--min-margin), var(--mobile-cutoff)) - 40px) !important;
}

li {
    line-height: 1.5;
}

ul > li {
    list-style: circle;
}

img {
    max-width: calc(min(100% - 2 * var(--min-margin), var(--mobile-cutoff)));
    height: auto;
}

table {
    border-collapse: collapse;
    text-align: center;
    -webkit-border-vertical-spacing: 0px;
    -webkit-border-horizontal-spacing: 0px;
    width: 100%;
}

th {
    border-bottom: 1px solid;
}

th:nth-child(1) {
    text-align: left;
    border-right: 1px solid;
}

td:nth-child(1) {
    text-align: left;
    border-right: 1px solid;
}

td {
    text-align: right;
}

code {
    font-family: "Jetbrains Mono", "Fira Code", "Source Code Pro", monospace;
    background-color: var(--code-background);
    color: var(--code-foreground);
    padding: 2px;
    border-radius: 2px;
    border: 1px solid var(--code-border);
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

pre {
    font-family: "Jetbrains Mono", "Fira Code", "Source Code Pro", monospace;
    padding: 10px;
    font-size: 0.9rem;
    overflow-x: auto;
    display: block;
    max-width: 100%;
    background-color: var(--code-background);
    color: var(--code-foreground);
    border-top: 1px solid var(--code-border);
    border-bottom: 1px solid var(--code-border);
    padding-inline: calc(max(var(--min-margin), (100% - var(--mobile-cutoff)) / 2));
}

a code:hover {
    color: var(--highlight);
    border-color: var(--highlight);
}

.c-keyword, .c-type, .c-member, .c-annotation, .c-parameter {
    color: var(--solarized-blue);
}

.c-entity, .c-constant, .c-support {
    color: var(--solarized-green);
}

.c-name {
    color: var(--solarized-yellow);
}

.c-comment, .c-documentation {
    color: var(--solarized-base00);
}

.c-string {
    color: var(--solarized-cyan);
}

.c-placeholder {
    color: var(--solarized-red);
}

.c-control {
  color: var(--solarized-green);
}

.c-constant {
  color: var(--solarized-orange);
}

.c-numeric {
  color: var(--solarized-violet);
}

.c-language {
  color: var(--solarized-magenta);
}

span.footnote {
    padding: 10px;
    font-style: italic;
    font-family: sans-serif;
    color: var(--lowlight);
}

sub, sup {
    line-height: 0;
}

input[type=checkbox] + label + span.footnote {
    display: none;
}

input[type=checkbox]:checked + label + span.footnote {
    display: block;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox] ~ label {
    display: inline;
    cursor: pointer;
}

input[type=checkbox] ~ label:hover {
    cursor: pointer;
    color: var(--highlight);
}

div#footer {
    margin-top: var(--min-margin);
    margin-inline: auto;
    max-width: calc(min(100% - 2 * var(--min-margin), var(--mobile-cutoff)));
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--lowlight);
}

/*
For annoying reasons browsers like to add non-functional gray boxes
underneath code blocks and such, even if there is nothing to scroll.
This is the brute force approach of just hiding all scrollbars on the
page.
*/
*::-webkit-scrollbar {
    /* Safari & Chrome */
    display: none;
}

* {
    /* MS browsers */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
}

/*
This below keeps the regular scrollbar for scrolling the page, if
present, because that one makes sense to be there.
*/

html::-webkit-scrollbar {
    display: inherit;
}

html {
    -ms-overflow-style: inherit;
    scrollbar-width: inherit;
}
