<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="{{ site.description }}" />
    <meta name="author" content="{{ site.author }}" />
    <link rel="stylesheet" href="/stylesheet.css" />
    <link rel="alternate" href="{{ url_for(link="virtual:feed") }}" type="application/atom+xml"
        title="{{ site.title }}" />
    <title>{% block title %}{{ site.title }}{% endblock title %}</title>
    {% endblock head %}
</head>

<body>
    <div id="container">
        <div id="header">
            <div id="logo">
                <a href="{{ url_for(link="virtual:index") }}">{{ site.description }}</a>
            </div>
            <div id="navigation">
                {% for menu_item in site.menu %}
                <a href="{{ url_for(link=menu_item.link) }}">{{ menu_item.title }}</a>
                {% if loop.last %} {% else %} • {% endif %}
                {% endfor %}
            </div>
        </div>
        <div id="main">
            <div id="heading">
                <h1>{{ page.title }}</h1>
                {% if page.timestamp %}
                <div class="info">
                    Published on {{ page.timestamp | date(format="%Y-%m-%d") }}
                </div>
                {% endif %}
                {% if page.tags %}
                <div class="info">
                    Tags:
                    {% for tag in page.tags %}
                    <a href="{{ url_for(link="virtual:tags/" ~ tag) }}">{{ tag }}</a>{% if not loop.last %}, {% endif
                    %}
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div id="content">
                {% block content %}{% endblock content %}
            </div>
        </div>

        <div id="footer">
            &copy; {{ site.author }}
        </div>

        {% if not site.include_drafts %}
        <!-- Privacy-aware analytics by https://www.goatcounter.com/ -->
        <!-- Stats are publicly available at https://stats.sulami.xyz/ -->
        <script data-goatcounter="https://stats.sulami.xyz/count" async="" src="https://gc.zgo.at/count.js"></script>
        {% endif %}
    </div>
</body>

</html>