{% extends "base.html" %}

{% block heading %}
<h2>Welcome</h2>
{% endblock heading %}

{% block content %}
<p>
    Hi, my name is {{ site.author }}, and this is my blog. Find out more about
    me on the <a href="{{ url_for(link='file:input/content/about.md') }}">about
        page</a>.
</p>

<h3>Recent Posts</h3>
<ul>
    {% for post in page.extra_context.recent_posts %}
    <li>
        <a href="{{ post.link }}">{{ post.title }}</a>
        <span class="info">({{ post.timestamp | date(format="%Y-%m-%d") }})</span>
    </li>
    {% endfor %}
</ul>

<h3>Best Posts</h3>
<ul>
    {% for post in page.extra_context.best_posts %}
    <li>
        <a href="{{ post.link }}">{{ post.title }}</a>
        <span class="info">({{ post.timestamp | date(format="%Y-%m-%d") }})</span>
    </li>
    {% endfor %}
</ul>

<p>
    ... or visit
    <a href="{{ url_for(link='virtual:posts') }}">the archive</a>
    for all posts.
</p>
{% endblock content %}