{% extends "base.html" %}

{% block heading %}{% endblock heading %}

{% block content %}
<h3>Recent Posts</h3>
<ul>
    {% for post in page.extra_context.recent_posts %}
    <li>
        <a href="{{ post.link }}">{{ post.title }}</a>
        <span class="info">({{ post.timestamp | date(format="%Y-%m-%d") }})</span>
    </li>
    {% endfor %}
</ul>

<h3>Best Posts</h3>
<ul>
    {% for post in page.extra_context.best_posts %}
    <li>
        <a href="{{ post.link }}">{{ post.title }}</a>
        <span class="info">({{ post.timestamp | date(format="%Y-%m-%d") }})</span>
    </li>
    {% endfor %}
</ul>

<p>
    ... or visit
    <a href="{{ url_for(link='virtual:posts') }}">the archive</a>
    for all posts.
</p>
{% endblock content %}