{% extends "base.html" %}

{% block title %}{{ super() }}{% endblock title %}

{% block head %}
{{ super() }}
{% endblock head %}

{% block content %}
<p>
    Welcome to my blog. I hope you enjoy your stay.

    Here are some posts:
</p>

{% for post in page.extra_context.posts %}
<div>
    {{ post.timestamp | date(format="%Y-%m-%d") }}
    <a href="{{ post.link }}">{{ post.title }}</a>
    {% if post.tags %}
    ({{ post.tags | join(sep=", ") }})
    {% endif %}
</div>
{% endfor %}
{% endblock content %}