{% extends "base.html" %}

{% block title %}{{ page.title }}{% endblock title %}

{% block heading %}
{{ super() }}

{% if page.created_at or page.updated_at %}
<div class="info">
    {% if page.created_at %}
    Published on {{ page.created_at | format_date }}
    {% endif %}
    {% if page.created_at and page.updated_at %}
    |
    {% endif %}
    {% if page.updated_at %}
    Updated on {{ page.updated_at | format_date }}
    {% endif %}
</div>
{% endif %}
{% endblock heading %}

{% block content %}
{{ rendered_content | safe }}
{% endblock content %}
