{% extends "base.html" %}

{% block title %}{{ page.title }}{% endblock title %}

{% block type %}article{% endblock type %}

{% block heading %}
{{ super() }}

{% if page.created_at %}
<div class="info">
    Published on {{ page.created_at | format_date }}
</div>
{% endif %}

{% if page.tags %}
<div class="info">
    Tags:
    {% for tag in page.tags %}
    <a href="{{ tag | tag_link }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
    {% endfor %}
</div>
{% endif %}
{% endblock heading %}

{% block content %}
{{ rendered_content | safe }}
{% endblock content %}
