{% extends "base.html" %}

{% block title %}{{ page.title }}{% endblock title %}

{% block heading %}
{{ super() }}

{% if page.timestamp %}
<div class="info">
    Published on {{ page.timestamp | date(format="%Y-%m-%d") }}
</div>
{% endif %}

{% if page.tags %}
<div class="info">
    Tags:
    {% for tag in page.tags %}
    <a href="{{ tag | tag_link }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
    {% endfor %}
</div>
{% endif %}
{% endblock heading %}

{% block content %}
{{ page.content }}
{% endblock content %}
